<div class="display-4">Register</div>
<hr />
<form class="container" method="POST" action="/Register">
  <div class="form-group">
    <label for="firstname">Firstname</label>
    <input
      name="firstname"
      type="text"
      class="form-control"
      id="firstname"
      placeholder="Enter your firstname"
    />
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input
      name="name"
      type="text"
      class="form-control"
      id="name"
      placeholder="Enter your name"
    />
  </div>
  <div class="form-group">
    <label for="example">Password</label>
    <input
      name="password"
      type="password"
      class="form-control"
      id="example"
      placeholder="Password"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>